*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: 'Roboto', sans-serif;
}


.container{

max-width: 600px;
margin: 10px;
display: flex;
flex-direction: column;
min-height: 100vh;



}

.list{
    display: none;
   
}
.arrow-up{
    display: none;
}

.title{
display: flex;
width: 100%;
position: relative;
padding-top:30px;

}
.Rose{

    color: #042d57;
font-size: 1.8rem;
margin-left:40px;
font-weight:bold;
cursor: pointer;
}
.menu-container{
position: absolute;
right: 0;
align-self: center;
padding-right: 10px;
margin-left: 10px;

}
.title .menu-container i{
    font-size: 1.8rem;
    color: #042d57;
    cursor: pointer;
   
}
.text{
   margin-top: 90px;
   margin-bottom: 70px;
   text-align: center;

}


.text-child{
margin: 0 75px 0 75px;
font-size: 1rem;
font-weight: 500;
color: #012b55;

}
.scroll{
 color: #597188;
 font-size: 1rem;
 margin:0 75px 0 75px;
 font-weight:500;
}
.img{
   
    width: 100%;
}
.content{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  background:rgba(0, 0, 56, 0.715);
   color: white;
   opacity: 0;
   transition: opacity 0.25s;
   cursor: pointer;
   margin: 4px;
   
   
  
    
}
.content:hover{
    opacity: 1;
  
}
.year{
   
    font-family: 'Tiro Telugu', serif;
   
  
}
.content-child{
    margin-top: 12px;
    font-size: 2rem;
    font-weight: bold;
}
.ali{
    position: relative;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}
.ali img{
    width:100%;
   margin: 4px;
    
}
.year{
    font-size: 1rem;
    text-align: center;

}
.content-child{
    font-size:1rem; 
    text-align: center;
   
}

.icon{
    display: flex;

    justify-content: center;
    height:30px;
    width: 100%;
    margin-bottom: 30px;

}
.icon-child i {
    font-weight: bold;
}
.icon-child{
    width:28px;
    height: 28px;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    transition: background 0.25s;
    cursor: pointer;


}
.icon div:hover{
    background-color:#aac2d7;
    
}
.end{
display: flex;
justify-content: center;
cursor: pointer;

}

@media (min-width:600px){

.container{
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 100vh;
  
  
}

.container2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    position: relative;

  
    
  
}
.arrow-up{
    position: fixed;
    right: 0;
     bottom: 0;
     margin-right:20px;
     width:59px;
     height:60px;
     display: flex;
     align-items: center;
     justify-content: center;
    border-radius: 8px;
    font-size: 2rem;
    margin-bottom: 30px;
   
}
.arrow-up:hover {
    background:#b9c5d0 ;
    
}

.arrow-up i{
    color: #012b55; 
    
}

.title{
    display: none;
}
.list{
    display:block;
    width: 55%;
    height: 100%;
    
    
    
}
.Rose-second{
   padding: 50px 170px 45px 10px;
   color: #012b55; 
   font-size: 2rem;
font-weight: bold;
}

.work{
    color: #012b55;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 10px;
}
.member{
    margin-bottom: 12px;
    color: #012b55;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 110px;
}
.contact{
    margin-top: 10px;
    color: #012b55;
    font-weight: bold;
   font-size: 1.3rem;
   margin-left: 10px;
}
.img {
width: 100%; 
display: flex;
flex-direction: row;
flex-wrap: wrap;  
margin-top: 100px;
}

.ali{
   width: 50%;
   position: relative;
   height: 100%;

   
}
.ali img{
    width: 100%;
    height: 100%;
   display: block;
   background-size:cover ;
   background-position: center;
   background-repeat: no-repeat;
   
}
.content-child{
    font-size: 1.1rem;
    text-align: center;
}
.icon2{
    display: flex;
    justify-content: flex-start;
}

.text{
     width: 100%;   
     
  
}
.text-child{
    font-size: 2rem;
    
}

.scroll{
    font-size: 1.3rem;
    margin-top: 40px;
    
}
.icon{
   margin-top: 20px;
   margin-bottom:-10px;
   
}
.icon-child{
    margin-right: 20px;
}
}
@media(min-width: 900px){
    .container{
     display: flex;
    max-width:1440px;

     width: 100%;
    }
    .arrow-up{
        margin-right: 59px;
    }   





.list{
    width: 40%;
    
}
.Rose-second{
 
    font-size: 1.8rem;

 }
 .work{
    
    font-size: 1.5rem;
   
}
.member{
   
    
    font-size: 1.3rem;
    
    margin-right:0px ;
}
.contact{
    
    
  
   font-size: 1.3rem;
  
}
.ali img{
    width: 100%;
    height: 100%;
    display: block;

}
.ali{
    width: 50%;
    

}
.content-child{
    font-size: 1.5rem;
}
.year{
    font-size: 1.5rem;
}
.text{
   
    margin-top: 120px;
}
.img {
 margin-top: 150px;
}


    
    

}




    
